.paginationSwiper {
  width: 100%;
  height: 100%;
  background-color: #F5F5EC;

}

.slider-container {
  padding-left: 30px;
  background-color: #F5F5EC;

}
.swiper-slide {
  width: auto !important;
  
}
.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.collection-card {
  width: 293px;
  margin-right: 0;
  
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 420px;
  border-radius: 10px;
  overflow: hidden;

}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image-wrapper img:hover {
  transform: scale(1.1);
}

.text-fp {
  font-size: 42px;
  line-height: 50.4px;
  color: #172e22 !important;
  font-family: 'Albert Sans', sans-serif;
  font-weight: 400 !important;
  background-color: #F5F5EC;
  margin: 0;
  padding-left: 30px;

}

/* ARROW ON THE CARDS */
.arrow-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.arrow-btn:hover {
  background: #172e22;
  color: white;
}

.rotate-up-right {
  transform: rotate(-45deg);
}
/* Arrow slider mover */
.slider-arrows {
  display: flex;
  gap: 5px;
  padding-right: 50px;
}

.slider-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #172e22;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-arrow:hover {
  background: #172e22;
  color: #fff;
}