.paginationSwiper {
    width: 100%;
    height: 100%; 
    background-color: #F5F5EC;
}

.slider-wrapper {
  max-height: 100px;   
  margin: 0 auto;      
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
