@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600;700&display=swap');

body,
html {
  font-family: 'Albert Sans', sans-serif !important;
  letter-spacing: 1px;
  background-color: #F5F5EC;
}
